* {
  box-sizing: border-box;
  border: 1px solid black;
  padding: 0;
  margin: 0;
}

body {
  background-color: #111;
  color: #ccc;
  text-align: center;
}

textarea {
  max-width: 100%;
  background-color: inherit;
  color: inherit;
}

@media (max-width: 660px) {
  #canvasContainer {
    min-width: 320px;
    min-height: 240px;
  }

  canvas {
    width: 320px;
    height: 240px;
  }
}
